<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2" logo>
			<div class="circle">
				<br />
				Connecticut
				<br />
				Beer
				<%= image_tag 'BeerLogo.png', :class => 'img-responsive' %>
				<br />
			</div>

		</div>
		<br />
		<br />
		<div class="col-sm-7 hidden-xs slogan">
			Dedicated to the best beer in Connecticut
		</div>


	</header>
<hr />
<br class="clear" />

<%= yield %>

<div class='region'> 
	 &nbsp;&nbsp;&nbsp;&nbsp;South East
</div>
<div id='brewery'>&nbsp;Beer'd <br /><%= image_tag "Beer'd.gif", :class => 'img-responsive2' %></div><div class= 'location'> Stonington</div>
<div class=blurb>
	<div class='col-xs-12'>
Located in Stonington, CT Beer'd has been brewing for just 3 years but if you've ever tasted some fo their creations, you know they will be around for a long time to come. Beer'd HQ in the back of an old repurposed mill which now serves as a community center to for a tasting.
	</div>
</div>

<br class='clear' />
<br />
<br />

<div class='region'>
	 &nbsp;&nbsp;&nbsp;&nbsp;North East
</div>

<div id='brewery'> Black Pond Brews <br /><%= image_tag "BlackPond.jpeg", :class => 'img-responsive2' %></div><div class= 'location'>Danielson</div>

<div class=blurb>
	<div class='col-xs-12'>
		Representing the Northeast is Black Pond; Situated in Danielson two founders Mike and Cory are bringing doing their best to represent their hometown community and showing us all that theres more to  where it's located and something about the beer they hav there. Put up picture next to the quiet corener than just antiques. Plan your visit for ahead of time and you just may be able to catch a limited bottle release and even take in some of the local culture.
	</div>
</div>


<br class='clear' />
<br />
<br />

<div class='region'>
	&nbsp;&nbsp;&nbsp;&nbsp;Central
</div>

<div id='brewery'> Thomas Hooker <br /><%= image_tag "HookerLogo.jpg", :class => 'hooker' %></div><div class= 'location'>Bloomfield</div>

<div class=blurb>
	<div class='col-xs-12'>
		If you're travels take you to the Hartford area stop by for a Hooker. Hooker beer that is (sorr, I couldn't resist).  With tours and tastings Fridays and Saturdays (plus happy hour fridays) Thomas Hooker Brewery is deffintely a must if your looking for good beer and a good time.  You're sure to find a beer you like and maybe even make some new friends.
</div>

<br class='clear' />
<br />
<br />

<div class='region'>
	&nbsp;&nbsp;&nbsp;&nbsp;North West
</div>

<div id='brewery'> Kent Falls Brewing Company <br /><%= image_tag "KentFalls.jpg", :class => 'kent' %></div><div class= 'location'>Kent</div>

<div class=blurb>
	<div class='col-xs-12'>
		Finally a reason to visit Kent! One of the newest breweries to the state has finally given us all a reason to go to Kent.  Not only is this the only brewery in the Northwest, it is also the only farmhouse brewery.  The folks at Kent Falls Brewing may not have the experience yet to produce some of the more complex and mature brews of other breweries but their unique position as the states only farmhouse brewery certainly fills us with excitement with the possibilities of whats to come in the way of wild yeast fermentations.  Not only that but they brewery is also green; sporting solar powered hot water they also feed the spent grains to the farm animals in an effort to reduce the environmental impact of both the farm and the brewery. Beer and environmentalism; does it get any better?
	</div>
</div>

<br class='clear' />
<br />
<br />

<div class='region'>
	 &nbsp;&nbsp;&nbsp;&nbsp;Central
</div>

<div id='brewery'>  Two Roads <br /><%= image_tag "TwoRoads.png", :class => 'TwoRoads' %></div><div class= 'location'>Stratford</div>

<div class=blurb>
	<div class='col-xs-12'>
		Another repurposed mill building houses another of Connecticut's own breweries.  Two roads has been brewing for longer than any of the other brewewries on this list and after one taste you can tell their art has had time to mature.  A trip to the brewery Friday, Saturday or Sunday will give you the opportunity to tour and get some delicious samples in.  Take the road less traveled down to get a taste of a delicious IPA or pilsner or if your lucky a special cask. Bring your growler; you'll want some for the road.
</div>

<br class='clear' />
<br />
<br />


</body>
</html>
