<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2" logo>
			<div class="circle">
				<br />
				Delicious
				<%= image_tag 'BeerLogo.png', :class => 'img-responsive' %>
				<br />
			</div>

		</div>
		<br />
		<br />
		<div class="col-sm-7 hidden-xs slogan">
			Dedicated to the best beer in Connecticut
		</div>
		<div class="col-xs-3 links">
			<!delete this area if we don't want an about page>
		<%= link_to 'About', '#' %>
		</div>


	</header>
<hr />
<br class="clear" />

<%= yield %>

<div class='region'> 
	 &nbsp;&nbsp;&nbsp;&nbsp;South East
</div>
<div id='brewery'>&nbsp;Beer'd <br /><%= image_tag "Beer'd.gif", :class => 'img-responsive2' %></div><div class= 'location'> Stonington</div>
<div class=blurb>
	<div class='col-xs-12'>
Located in Stonington, CT Beer'd has been brewing for just 3 years but if you've ever tasted some fo their creations, you know they will be around for a long time to come. Beer'd HQ in the back of an old repurposed mill which now serves as a community center to for a tasting.
	</div>
</div>

<br class='clear' />
<br />
<br />

<div class='region'>
	 &nbsp;&nbsp;&nbsp;&nbsp;North East
</div>

<div id='brewery'> Black Pond Brews <br /><%= image_tag "BlackPond.jpeg", :class => 'img-responsive2' %></div><div class= 'location'>Danielson</div>

<div class=blurb>
	<div class='col-xs-12'>
		Representing the Northeast is Black Pond; Situated in Danielson two founders Mike and Cory are bringing doing their best to represent their hometown community and showing us all that theres more to  where it's located and something about the beer they hav there. Put up picture next to the quiet corener than just antiques. Plan your visit for ahead of time and you just may be able to catch a limited bottle release and even take in some of the local culture.
	</div>
</div>



</body>
</html>
