<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2">
			<div class="circle">
				<br />
				Delicious
				<%= image_tag 'BeerLogo.png', :class => 'img-responsive' %>
				<br />
			</div>

		</div>
		<br />
		<br />
		<div class="col-xs-6 slogan">
			Dedicated to the best beer in Connecticut
		</div>
		<div class="col-xs-3 links">
			<!delete this area if we don't want an about page>
		<%= link_to 'About', '#' %>
		</div>


	</header>
<hr />
<br class="clear" />

<%= yield %>



</body>
</html>
